<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <%- include('bar', {req: req}); %>
    <div class="w3-margin w3-display-topmiddle">
        <br/>
        <br/>
        <br/>
        <h1 class="w3-display-middle">MelleWS Convert</h1>
        <br class="w3-margin"/>
        <p class="w3-margin">Welcome to MelleWS Convert, a utility for easy and ad-free file conversion.</p>
    </div>
  </body>
</html>