<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <%- include('bar', {req: req}); %>
    <br/>
    <br/>
    <br/>
    <p class="w3-margin-left">Welcome to MWSDrive, a free storage applet with a maximum upload size of 200 MB.</p>
    <div class="w3-card w3-margin w3-margin-top" style="width: 25%">
        <div class="w3-container w3-teal">
          <h2>Upload</h2>
        </div>
        <form class="w3-container w3-padding" action="upl" method="post" enctype="multipart/form-data" width=30>
            <input class="w3-input" type="text" name="usrID" placeholder="User ID" value="<%= req.cookies.idCookie %>">
            <input class="w3-input" type="file" name="filetoupload" required>
            <input class="w3-button" type="submit">
        </form>
    </div>
  </body>
</html>