<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/drive.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('bar', {req: req}); %>
    <br/>
    <br/>
    <br/>
    <p class="welcome_msg">Welcome to MWSDrive, a free storage applet with a maximum upload size of 100 MB.</p>
    <% if(typeof(error) != "undefined"){ %>
      <div id="error-container">
        <div class="err-backdrop" id="backdrop"></div>
        <div class="error-div" style="margin-top:24px;">
          <pre class="inset-pre red-pre"><%= error %></pre>
        </div>
      </div>
      <script>
        var bddiv = document.getElementById('backdrop');
        //bddiv.style.cursor = 'pointer';
        bddiv.onclick = function hideError(){
          document.getElementById('error-container').style.display = "none";
        }
      </script>
    <% } %>
    <div class="card_wrapper" style="display: inline-block;">
        <div class="upload_container">
          <h2 class="upload">Upload</h2>
        </div>
        <form class="form_container" action="upl" method="post" enctype="multipart/form-data">
          <input class="upload_input" type="file" name="filetoupload" id="dzf" required>
          <div class="label_wrapper">
            <label for="dispmetd">Save file to...</label>
            <select class="directory_select" name="dispmetd" id="dispmetd">
              <option value="dm_pubdir">Public Directory</option>
              <option value="dm_hide">Public Directory (hidden)</option>
              <option value="dm_personal">User Directory</option>
            </select>
          </div>
          <input class="submit_input main_btn" type="submit">
        </form>
    </div>
  </body>
</html>