<html>
  <head>
    <title>MelleWS (error)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> 
  <body>
    <%- include('bar', {req: req, barCol: "244,67,54.black"}); %>
    <div class="ersc-container">
      <h1>Error! | <%= error.status || "Script Error" %></h1>
      <h3>An error occurred accessing the requested resource.</h3>
      <p>Please check if you spelled the request correctly, if the resource is still available, and if you are authorised to see the resource.<br />There is more detailed error info below.</p>
      <pre class="inset-pre"><%= error.message %></pre>
    </div>
  </body>
</html>