<!DOCTYPE html>
<html>
  <head>
    <title>MelleWS</title>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!--
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="./stylesheets/basic.css">
    <link rel="stylesheet" href="./stylesheets/modal.css">
    <link rel="stylesheet" href="./stylesheets/main.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#009688">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="theme-color" content="#009688">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <% if(!(typeof(req.session.user) === "undefined" || req.session.user.rgb == '')){ %>
      <% if(typeof(barCol) === "undefined"){ var barCol = req.session.user.rgb + ".black" || "180,180,180.black" %>
      <% } else if(barCol == "180,180,180.white"){ var barCol = req.session.user.rgb + ".white" || "180,180,180.white"} %>
    <% } else { %>
      <% if(typeof(barCol) === "undefined"){ var barCol = "180,180,180.black" } %>
    <% } %>

    <style>
      .homefont {font-family: "Raleway", sans-serif}
      body, html {height: 100%}
      .bgimg {
        min-height: 100%;
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  <body style='background-image: url("../images/bg2.svg");'>
    <script>
      var images = ['bg1.svg', 'bg2.svg', 'bg3.svg', 'bg4.svg', 'bg5.svg'];
      $('body').css('background-image', 'url(../images/' + images[Math.floor(Math.random() * images.length)] + ')');
      console.log('url(../images/' + images[Math.floor(Math.random() * images.length)] + ')');
    </script>
    <%- include('bar', {req: req, barCol: "180,180,180.white"}); %>

    <div id="myModal" class="modal">
      <div class="modal_wrapper">
        <span class="close">&times;</span>
        <span class="tongue">😜</span>
        <br/>
        <p style="font-family: 'Courier New', Courier, monospace; font-weight:200; font-size:large;">This Nonexclusive Service License Agreement ("Agreement") is between you (As in your soul entity, shall this Agreement not expire under any afterlife circumstance, if any), your heirs, agents, successors and assigns ("Licensee") and MelleMWS<br/>By registering at the MelleMWS services you, your heirs, agents, successors and assigns will be the exclusive transferable property of MelleMWS, aside from any local law or human right regulation. You agree to obey any orders at the request of MelleMWS, as notified via your account's e-mail with the maximum possible priority.<br/>The faillure to comply with such terms will be hardly punished by MelleMWS, that may revoke your rights or terminate your life (private property of MelleMWS) without prior notice.<br/>You agree not to legally make MelleMWS guitly under any circumstance, and prove MelleMWS not liable for any law violation MelleMWS may be held liable of.<br/>MelleMWS reserves the right to update, modify or remove these terms without prior notice.</p>
      </div>
    </div>

    <div class="site_header_wrapper">
      <h1 class="header_title" id="htitle" style="font-size: 75px; font-weight: 1;"><b>MelleWS</b></h1>
      <p class="webapp_version" style="color:rgba(--Accent); mix-blend-mode: difference; font-weight: 550;"><%= version %></p>
      
      <hr class="seperator">
      <p class="header_info" id="hsub" style="font-size: 25px;"><b>Welcome to MelleWS,<br/></b>a fast and reliable web platform.</p>
    </div>

    <!--
    <div class="w3-bar w3-teal w3-display-bottommiddle">
      <p class="w3-bar-item" style="text-align: center">MelleWS is currently in beta (0.8b6). Therefore, you might experience issues. If so, please let us know by opening an issue on the <a href="https://www.github.com/MelleNooijen/MelleWS/">MelleWS repository.</a></p>
    </div>
    -->

    <footer class="main_footer">
      <div class="cpyright_wrapper">
        <a id="myBtn" class="baritem" id="copyright" href="#">©</a>  <span id="name">Melle Nooijen</span>
      </div>

      <a href="https://www.github.com/MelleNooijen/MelleWS" id="github" class="source_link_wrapper"><i class="fab fa-github fa-2x" id="github_logo" style="color:rgb(0, 0, 0);"></i></a>
      
    </footer>
    <script>
      var modal = document.getElementById("myModal");
      var btn = document.getElementById("myBtn");
      var span = document.getElementsByClassName("close")[0];
      var seper = document.getElementsByClassName("seperator")[0];
      btn.onclick = function() {
        modal.style.display = "block";
        modal.style.opacity = "1";
      }
      span.onclick = function() {
        modal.style.display = "none";
        modal.style.opacity = "0";
      }
      seper.onclick = function() {
        alert("JoostWS mode activated");
        document.getElementById('htitle').innerText = "JoostWS";
        document.getElementById('hsub').innerHTML = "<b>Welcome to JoostWS,<br/></b>a fast and reliable web platform with better CSS.";
        document.getElementById('name').innerText = "Joost van Haag";
        document.getElementsByTagName('body')[0].style.background = "linear-gradient(121deg, rgba(173,9,224,1) 0%, rgba(0,212,255,1) 100%)";
        document.getElementsByTagName('body')[0].style.background = "-moz-linear-gradient(121deg, rgba(173,9,224,1) 0%, rgba(0,212,255,1) 100%)";
        document.getElementsByTagName('body')[0].style.background = "-webkit-linear-gradient(121deg, rgba(173,9,224,1) 0%, rgba(0,212,255,1) 100%)";
      }
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
          modal.style.opacity = "0";
        }
      }
    </script>
  </body>
</html>
