<!DOCTYPE html>
<!--
    SPDX-license_Identifier: AGPL-3.0-or-later
    Copyright © 2020 Melle Nooijen & contributors
-->

<html>
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="./stylesheets/basic.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body,h1 {font-family: "Raleway", sans-serif}
      body, html {height: 100%}
      .bgimg {
        min-height: 100%;
        background-position: center;
        background-size: cover;
      }
    </style>
  </head>
  <body>
    <script>
      var images = ['bg1.svg', 'bg2.svg', 'bg3.svg', 'bg4.svg', 'bg5.svg'];
      $('body').css({'background-image': 'url(../images/' + images[Math.floor(Math.random() * images.length)] + ')'});
      console.log('url(../images/' + images[Math.floor(Math.random() * images.length)] + ')');
    </script>
    <%- include('bar', {req: req}); %>
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top"><b>MelleWS</b></h1>
        <hr class="w3-border-grey" style="margin:auto;width:50%">
        <p class="w3-large w3-center"><b>Welcome to MelleWS,<br/></b>a fast and reliable web platform.</p>
      </div>
      <div class="w3-display-bottomleft w3-padding-large w3-text-black">
        © Melle Nooijen
      </div>
    </div>
  </body>
</html>
