<html>
    <title>MelleWS (error)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <%- include('bar', {req: req, barCol: "244,67,54.black"}); %>
    <div class="w3-container w3-display-middle">
      <h1>Error!</h1>
      <h3>An error occurred in the applet you were running.</h3>
      <p>Please see the log details below for more information.</p>
      <% if (errString) { %>
        <p style='font-family: "Lucida Console", Monaco, monospace'><%- errString %></p>
      <% } else {%>
        <p style='font-family: "Lucida Console", Monaco, monospace'>No error defined by applet.</p>
      <% } %>
    </div>
</html>