<!DOCTYPE html>
<html>
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <%- include('bar', {req: req}); %>
    <br/>
    <br/>
    <br/>
    <div class="w3-container w3-center">
        <h1>Login</h1>
        <div class="w3-bar">
            <% if (false) { %>
                <p>You are logged in as <%= // %>. Click to <a href="/forget">log out</a>.</p>
            <% } else { %>
              <% if(message){ %>
                <p style="color:red"><%= message %></p>
              <% } %>
              <form class="w3-container" method="post" action="/login">
                <input class="w3-input" type="text" name="username" id="username" placeholder="Username"/>
                <input class="w3-input" type="password" name="password" id="password" placeholder="Password"/>
                <input class="w3-button w3-teal w3-margin-top" type="submit" value="Log in"/>
              </form>
            <% } %>
        </div>
      </div>
  </body>
</html>