<!DOCTYPE html>
<html>
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./stylesheets/login.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <%- include('bar', {req: req}); %>
    <br/>
    <br/>
    <br/>

      <h1 class="login_header">Login</h1>
      <div class="login_card">
            <% if (req.isAuthenticated()) { %>
                <p>You are logged in as <%= req.session.user.username %>. Click to <a href="/forget">log out</a>.</p>
            <% } else { %>
              <form class="login_form" method="post" action="/login">
                <input class="input text_input" type="text" name="username" id="username" placeholder="Username"/>
                <input class="input text_input" type="password" name="password" id="password" placeholder="Password"/>
                <input class="input main_btn" type="submit" value="Log in"/>
              </form>
            <% } %>
      </div>


      <% if(message != ""){ %>
        <div class="backdrop"></div>
        <button class="exit_btn">&times;</button>
        <div class="error-div" style="margin-top:24px;">
          <pre class="inset-pre red-pre"><%= message %></pre>
        </div>
      <% } %>

  </body>
</html>
