<html>
    <title>MelleWS (success)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
    <%- include('bar', {req: req, barCol: "139,195,74.black"}); %>
    <div class="w3-container w3-display-middle">
      <h1>Success!</h1>
      <h3>Action completed successfully .</h3>
      <p>The applet's output can be found below.</p>
      <% if (sucString) { %>
        <p style='font-family: "Lucida Console", Monaco, monospace'><%= sucString %></p>
      <% } else {%>
        <p style='font-family: "Lucida Console", Monaco, monospace'>No error defined by applet.</p>
      <% } %>
      <% if (sucUrl) { %>
        <button onclick="copyTC('<%= sucUrl %>')" class="w3-button w3-teal">Copy URL</button>
      <% } %>
    </div>
    <script>
      function copyTC(x) {
        var dummyContent = x;
        var dummy = $('<input>').val(dummyContent).appendTo('body').select()
        document.execCommand('copy')
      }
    </script>
</html>