<!DOCTYPE html>
<html>
  <head>
    <title>MelleWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/unco.css"/>
  </head>
  <body>
    <%- include('bar', {req: req, barCol: "255,235,59.black"}); %>
    <br/>
    <br/>
    <br/>
    <div class="main_wrapper">
        <div class="text_wrapper">
            <h1>Under construction!</h1>
            <p>The page you are trying to visit is still under construction.</p>
        </div>
        <div class="img_wrapper">
            <img 
            src="./images/unco.svg"
            alt="Under construction"
            height="500"
            class="consr_img"/>
        </div>
      </div>      
  </body>
</html>