:root{
    --Prim: rgb(255, 0, 183);
    --Back: rgb(230, 230, 230);
    --btn: rgb(68, 68, 68);
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--Back);
}

.login_header{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    transform: translate(0, -50%);
}

.login_wrapper{

}

.login_card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-align: center;
    /*background: linear-gradient(45deg, rgb(71, 21, 255) 0%, rgb(221, 17, 181) 100%);
    /*background: linear-gradient(45deg, #74EE15 0%, #001EFF 100%);*/
    background: var(--Back);
    padding: 2rem;
    border-radius: 90px;
    box-shadow: 24px 24px 27px #a4a4a4,
            -24px -24px 27px #ffffff;
}

.login_form{
    display: flex;
    flex-direction: column;
}
.input{
    margin: 1em;
}
.text_input{
    border: transparent;
    background-color: var(--Back);


}
.text_input:focus{
    border: transparent;
}