a.dir {
  color: #009688;
  text-decoration: none;
}
a.updir {
  color: #0E6655;
  text-decoration: none;
}
a.item {
  color: #000000;
  text-decoration: none;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px transparent;
  border-radius: 25px;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  
  background-color: transparent;
  overflow: hidden;
}
.svg-icon {
  width: 1em;
  height: 1em;
  fill: #0E6655;
  color: #0E6655;
  stroke-width: 2;
}
.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}
.icon {
  top: 0.125em;
}
.text{
  margin-bottom:-0.125em;
}
.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
.svg-icon.svg-baseline svg {
  top: .125em;
  position: relative;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.05);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  position: sticky;
  padding: 12px 16px;
  text-decoration: none;
  display: inline-block;
}

.dropdown-content a:hover {background-color: #ddd;}

.drop:hover + .dropdown-content {display: block;}

.main_btn{
  font-size: 16px;
  font-weight: 600;
  background: transparent;
  border: 3px solid var(--btn);
  color: var(--btn);
  border-radius: 15px;
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  transition: all 0.4s ease-out;
  /* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
  box-shadow:  18px 18px 38px #d5d5d5,
               -18px -18px 38px #ebebeb;
}

.main_btn:hover{
  border-bottom-left-radius: 0px;
  border-top-right-radius: 0px;
  border-color: var(--Prim);
  color: var(--Prim);
  cursor: pointer;
  box-shadow:  inset 18px 18px 38px #d5d5d5,
  inset -18px -18px 38px #ebebeb;
}
